$mainText : #3c3b5f;
$pale_backGround : #C5D7C0;


$hLight : #F8CA9D;
$brightText : #FA6E4F;
$softText : #FB8E7E;
$backGround : #8EC9BB;
$outLine : white;
$linkColor : black;

body { background-color: $pale_backGround; }

::selection {
  color: $mainText;
  background: $hLight;
}

.textCombo1 {
  color : $mainText;
  padding : 2%;
}

%textCombo2 {
  background-color: $backGround;
  color: $softText;
}

@media (max-width: 767px) {
  .nav>li>a.dropdown-toggle {
    display: none;
  }
  .nav .dropdown-menu {
    display:block;
        position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.navbar-custom {
      @extend %textCombo2;
    .navbar-brand, .navbar-text {
      color:inherit;
      font-weight: bold;
    }
}

.collapse.navbar-collapse li a {
  color: $brightText;
  background-color: $backGround;
}



.disclaimer {
    transform: rotate(90deg);
    position: fixed;
    top: 40%;
    right: -140px;
    z-index: 500;
    -webkit-animation: updown 11s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    /* Safari 4.0 - 8.0 */
    animation: updown 11s;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes updown {
    from {
        top: -135px;
    }
    to {
        top: 850px;
    }
}

@keyframes updown {
    from {
        top: -315px;
    }
    to {
        top: 850px;
    }
}


.navbar>a:hover {
    background-color: $hLight;
        color: $mainText;
    }



.tooLong {
  display: none;
}

.row > div {
   @extend %textCombo2;
    padding: 20px;
    border: 4px solid $outLine;

}

.container {
  margin-top: 40px;
}

.image-group-container {
    overflow: scroll;
    text-align: center;
    margin-bottom: 50px;
}

%solo-photo {
    max-height: 100%;
    max-width: 70%;
    margin-top: 15px;
    margin-bottom: 10px;
    border: solid black 15px;
}

.solo-photo-small {
   @extends %solo-photo;
    max-height: 70%;
    max-width: 45%;

}

.col-md-12 {
    margin-bottom: 70px;
}

.right-rail {
    margin-top: 160px;
}

@media (min-width: 500px) {
}

@media (max-width:499px) {
}
