{% extends "layout.html" %}

{%  block  body %}
<div>
  <h1 > about me </h1>

</div>

  <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <h4> stats </h4>
          <hr color = white noshade> </hr>
          <ul >
            <li> 50 free <span>~29s</span> </li>
            <li> bones broken: <span>0</span> </li>
            <li> current ankles sprained: <span>1</span> </li>
            <li> can eat <span>2-3</span> burritos in a meal </li>
            <li> countries visited: <span>15</span> (?) </li>
            <li> continents visited: <span>5</span> </li>
            <li> continents lived in: <span>3</span> </li>

          </ul>
        </div>

        <div class="col-md-auto">
          <h4> interests </h4>
          <hr color = white noshade> </hr>
          <ul >
            <li> languages </li>
            <li> math </li>
            <li> French bureaucracy </li>
            <li>
              <a href="https://www.cgdev.org/blog/consent-development-stephanie-kimou-and-angela-bruce-raeburn-cgd-podcast">
                    development economics </a>
              </li>
          </ul>
        </div>

        <div class="col-md-auto">
          <h4> loves </h4>
          <hr color = white noshade> </hr>
          <ul>
            <li> <span class="emphasis"> beaches </span> </li>
            <li> competition </li>
            <li> water </li>
            <li> summer </li>
            <li> chess </li>
            <li> spice </li>
          </ul>
        </div>
      </div>
</div>


<div class="col-lg-12 startScroll" >
    <div class="row justify-content-md-center image-group-container">
        <span class="col-sm-9">
            <img class="solo-photo-small" src='{{ url_for('static', filename="media/aboutPhoto.jpg") }}'  >
        </span>
    </div>
</div>






{% endblock %}
