{% extends "layout.html" %}

{% block body%}

<div class="container">

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">Who?</th>
      <th scope="col">What?</th>
      <th scope="col">Where?</th>
      <th scope="col">Donate</th>
      <th scope="col">Volunteer</th>
      <th scope="col">Aid Request</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">MLOV, for DC street vendors</th>
      <td>financial aid, rights advocacy, language access support</td>
      <td> DC</td>
      <td><a href="http://www.mlovdc.org/donate.html"> donate </a> </td>
      <td><a href='http://www.mlovdc.org/volunteer.html'> volunteer </a> </td>
      <td>N/a</td>
    </tr>
    <tr>
      <th scope="row"> Ward-level mutual aid, for anyone </th>
      <td>food delivery and financial support, as possible </td>
      <td>DC</td>
      <td> through Ward-specific GoFundMes </td>
      <td><a href='https://drive.google.com/file/d/1dfJd_MulvUJKxjRSbGN4GT7iRk0BJsnI/view'> volunteer </a> </td>
      <td><a href="https://breadforthecity.org/covidsupport"> info per ward </a> </td>
    </tr>

  </tbody>
</table>

</div>

<div class="container">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">DC government response</h5>
        <h6 class="card-subtitle mb-2 text-muted">Did you know?</h6>
        <p class="card-text">
        DC government excluded informal sector, sex workers, and undocumented workers
        from their first two relief bills. However, there is now some funding
        that will be disbursed through organizations that support those groups.
        City aid hotlines have been documented to redirect
        to citizen funded, volunteer-staffed Mutual Aid orgs such as the ones above.   </p>
        <a href="https://www.washingtonpost.com/local/dc-politics/dc-council-freezes-rent-hikes-but-omits-undocumented-immigrants-from-covid-19-relief-bill/2020/04/07/407d506a-78f5-11ea-a130-df573469f094_story.html" class="card-link">Relief Bills</a>
      </div>
    </div>
  </div>

{%endblock%}
