{% extends "layout.html" %}

{% block body%}

<div class="container">

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">Who?</th>
      <th scope="col">What?</th>
      <th scope="col">Where?</th>
      <th scope="col">Donate</th>
      <th scope="col">Volunteer</th>
      <th scope="col">Aid Request</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">MLOV, for DC street vendors</th>
      <td>financial aid, rights advocacy, language access support</td>
      <td> DC</td>
      <td><a href="http://www.mlovdc.org/donate.html"> donate </a> </td>
      <td><a href='http://www.mlovdc.org/volunteer.html'> volunteer </a> </td>
      <td>N/a</td>
    </tr>
    <tr>
      <th scope="row"> Ward-level mutual aid, for anyone </th>
      <td>food delivery and financial support, as possible </td>
      <td>DC</td>
      <td> through Ward-specific GoFundMes </td>
      <td><a href='https://drive.google.com/file/d/1dfJd_MulvUJKxjRSbGN4GT7iRk0BJsnI/view'> volunteer </a> </td>
      <td><a href="https://breadforthecity.org/covidsupport"> info per ward </a> </td>
    </tr>

  </tbody>
</table>

</div>

{%endblock%}
